@media screen and (max-width: 1980px){
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    html,
    body {
      overflow-x: hidden;
    }
}

@media screen and (max-width: 1280px) {

  header{
    position:absolute;
  }

  .logo {
    font-size: 25px;
  }

  .logo i {
    font-size: 25px;
  }

  .navegaçao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(14, 14, 15);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1; /* Certifique-se de que o menu está abaixo do botão hamburguer */
  }

  .navegaçao a {
    font-size: 20px;
    opacity: 0;
  }

  .header-icons {
    margin: 0;
  }

  .header-icons i {
    margin-right: 20px;
  }

  .home {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 150px;
    margin-left: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto */
  }

  .one{
    margin-right: 100px;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-img img {
    width: 80%;
    height: auto;
  }

  .home-text h1 {
    font-size: 40px;
    display: block;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
  }

  .home-text h5 {
    font-size: 18px;
    display: block;
    margin-left: 9%;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-top: 150px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Diminua o espaço entre os itens */
  }
}

@media screen and (min-width: 390px) {

  .one{
    margin-right: 80px;
  }

  .home h1 {
    font-size: 40px;
  }

  .main{
    flex-wrap: wrap;
    margin-right: 20px;
  }
}

@media screen and (min-width: 410px) {

  .one{
    margin-right: 80px;
  }

  .home h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 430px) {

  .one{
    margin-right: 80px;
  }

  .home h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 540px) {

  .one{
    margin-right: 90px;
  }

  .home h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 600px) {

  .home h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 630px) {

  .one{
    margin-right: 100px;
  }

  .home h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 760px) {

  .one{
    margin-right: 130px;
  }

  .home h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 820px) {

  .one{
    margin-right: 140px;
  }

  .home h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 900px) {

  .one{
    margin-right: 150px;
  }

  .home h1 {
    font-size: 60px;
  }

  .main{
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {

  .one{
    margin-right: 220px;
  }

  .home h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1170px) {
  
  .one{
    margin-right: 240px;
  }

  .home h1 {
    font-size: 40px;
  }
}